* {
  box-sizing: border-box;
  background-color: black;
}
body {
  width: 20rem;
  height: 30rem;
  margin: 5rem auto;
  background-color: black;
  border: 1px solid white;
  color: white;
  text-align: center;
}
div:first-of-type {
  display: none;
  height: 15rem;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  line-height: 15rem;
}
div:nth-of-type(2) {
  display: none;
  margin: 5rem auto;
  width: 10rem;
  height: 5rem;
  background-color: gray;
  border-radius: 2rem;
  line-height: 5rem;
}
#buttonCall {
  margin: 20rem auto 0 auto;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border: none;
  border-radius: 2rem;
  box-shadow: -5px -5px -5px gray inset;
  font-size: 2rem;
}
#buttonCall:active {
  background-color: lightgray;
  box-shadow: 2px 2px 2px gray inset;
}
