* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 52rem;
  margin: 0;
  background: linear-gradient(#270075, #5223fd);
}
header {
  width: 100%;
  height: 2.8rem;
  padding: 0.5rem 2rem;
  background-color: white;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  text-align: right;
}
  #nightmode-button {
    display: inline-block;
    padding: 0 0.3rem 0 1rem;
    font-size: 0.8rem;
    line-height: 2rem;
    color: gray;
  }
    #nightmode-button button {
      height: 1.5rem;
      margin: 0 0.2rem;
      padding: 0 0.8rem;
      background-color: #333333;
      border: none;
      border-radius: 0.8rem;
      box-shadow: 0 2px 3px gray;
      color: white;
    }
    #nightmode-button button:active {
      box-shadow: 0 3px 3px black inset;
    }
section {
  display: flex;
  justify-content: center;
  padding: 3rem 2rem 1rem 2rem;
  color: white;
}
  article {
    height: 42rem;
    margin: 0 1rem;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 3rem;
  }
  #chatbot-box {
    width: 5rem;
    margin: 0;
    background: none;
  }
    #chatbot-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 5rem;
      height: 50%;
      padding: 1rem;
      border-radius: 2.5rem;
      background: linear-gradient(#8658FF, #00B6FF);
      color: white;
      opacity: 100%;
    }
      #chatbot-profile {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 2rem;
      }
  #chat-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    padding: 2rem 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: url('/img/mayBackground.png');
    background-size: cover;
  }
    #chat {
      width: 90%;
      height: 30rem;
      padding: 1rem 3rem 1rem 1rem;
      background-color: rgba(255, 255, 255, 0.884);
      border-radius: 1rem;
      border-bottom-right-radius: 4rem;
      box-shadow: 0.5rem 0.5rem 1rem gray;
    }
      #chat-display {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 22rem;
        margin: 1rem 0;
        padding: 1rem 0;
      }
        #chat-display .chat {
          height: 2.8rem;
          margin: 0.2rem 0;
          padding: 0 1.2rem;
          border-radius: 1.4rem;
          box-shadow: 0 2px 5px rgb(182, 182, 182);
          font-size: 1.2rem;
          font-weight: 300;
          line-height: 3rem;
        }
        #user-chat {
          display: flex;
          flex-direction: column;
          align-self: flex-end;
        }
          #user-chat .chat {
            background: linear-gradient(to right, #3800FF, #c497ff);
            color: white;
          }
          #user-chat .time {
            padding: 0.1rem 0.5rem;
            color: lightgray;
            font-size: 0.8rem;
            text-align: right;
          }
        #chatbot-chat {
          display: flex;
          justify-content: flex-start;
          align-self: flex-start;
          margin: 0.2rem 0;
        }
          #chatbot-chat img {
            width: 2.8rem;
            height: 2.8rem;
            margin: 0.2rem 0.5rem 0.2rem 0;
            border: 1px solid rgba(211, 211, 211, 0.452);
            border-radius: 1.4rem;
          }
          #chatbot-chat-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
            #chatbot-chat-box .chat {
              background: white;
              color: rgb(116, 116, 116);
              font-size: 1.1rem;
            }
            #chatbot-chat-box .time {
              padding: 0.1rem 0.5rem;
              color: lightgray;
              font-size: 0.8rem;
            }
      #chat form {
        display: flex;
        justify-content: right;
        align-items: center;
      }
      #chat form input:first-of-type {
        width: 80%;
        height: 2.8rem;
        margin-right: 1rem;
        padding: 0 2rem;
        border: none;
        border-radius: 1.5rem;
        box-shadow: 1px 1px 4px gray;
        color: rgb(116, 116, 116);
        font-size: 1.1rem;
      }
      #chat form input:nth-of-type(2) {
        width: 3rem;
        height: 3rem;
        background: linear-gradient(to right, #753EFF, #3800FF);
        border: none;
        border-radius: 1.5rem;
        box-shadow: 2px 2px 2px gray;
        color: white;
        font-size: 1.5rem;
      }
      #chat form input:nth-of-type(2):active {
        box-shadow: 1px 4px 2px black inset;
      }
  #todo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding: 3rem 0;
    text-align: center;
  }
    #todo-box ul {
      padding-left: 0;
      list-style: none;
      font-weight: 300;
    }
    #todo-box li {
      padding: 1rem 0;
    }
footer {
  width: 100%;
  padding: 0.5rem 2rem;
  color: rgba(255, 255, 255, 0.226);
  text-align: right;
}