* {
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10rem;
}
input {
  width: 13.5rem;
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 1.6rem;
  box-shadow: 0 0.1rem 0.3rem gray;
  text-align: center;

}
input:last-child {
  width: 11rem;
  margin: 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.3rem black;
  line-height: 1.2rem;
  font-size: 0.8rem;
}